html  {
  height: 100%;
}

body  {
  height: 100%;
  font-family: sans-serif;
  background: black;
  color: yellow;
}

#SearchView  {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 4em 1em 1em 1em;
  width: 600px;
  color: #0ff;
}

#SearchView #container  {
  border: 2px solid #0ff;
  padding: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  background: black;
}

#SearchView #footer  {
  margin-top: .5em;
  font-size: smaller;
  width: 100%;
  text-align: center;
}

#SearchView .tagline {
  padding-top: 1em;	    
}

#search_term_input  {
  margin-top: 2em;
}

#SearchView #trends  {
  padding-top: 3em;
}

#SearchView #trends h5  {
  padding-bottom: .5em;
}

#SearchView #trends p  {
  font-size: smaller;
  padding-top: .5em;
}

#SearchView a:link  {
  text-decoration:none;	    
  color: #0ff;
}

#SearchView a:visited  {
  text-decoration:none;	    
  color: #0ff;
}

#SearchView a:active  {
  text-decoration:none;	    
  color: #0ff;
}

#SearchView a:hover  {
  text-decoration:underline;	    
  color: #0ff;
}



#WeeoskView  {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#WeeoskView #display_area {
  height: 80%;
}

.weeosk_item  {

}

#WeeoskView a:link  {
  color:yellow;
  text-decoration: none;
}

#WeeoskView a:visited  {
  color:yellow;
  text-decoration: none;
}

#WeeoskView a:hover  {
  color:yellow;
  text-decoration: underline;
}

#WeeoskView a:active  {
  color:yellow;
  text-decoration: none;
}


#weeosk_header  {
  width: 100%;
}

#weeosk_term  {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 3em;
  height: 10%;
}

#controls  {
  text-align: center;
  height: 10%;
}

.twitter  {

}

.twitter .text  {
  //padding-top:2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 3em;
  text-align: center;
}

.twitter .user_id  {
  margin: auto;
  padding-top: 2em;
  text-align:center;
}

.twitter .profile_image  {
  display: none;	 
  text-align: center; 
}

.flickr .image {
  text-align: center;	
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 3em;
}

.flickr .title  {
  margin: auto;
  padding-top: 1em;
  text-align:center;
}


.twitpic .text  {
  padding-top: 1em;
  font-size: 1.5em;
  text-align: center;
}

.twitpic .profile_image  {
  display: none;
}

.twitpic .image  {
  text-align: center;
}

.twitpic .user_id  {
  padding-top: .5em;
  text-align: center;	 
}

.weeosk_image  {
  //max-height: 60%;
  //max-width: 60%;	       
}

#debug_area  {
  text-align: right;	     
}

.additional_info  {
  font-size: smaller;
  font-style: italic;		  
}